params.yaml

# Ignore all .ipynb_checkpoints folders anywhere in the project
**/.ipynb_checkpoints/

# Ignore all __pycache__ folders anywhere in the project
**/__pycache__/

# Ignore pytest debug log file
pytestdebug.log