[tool.poetry]
name = "s3-specs"
version = "0.1.0"
description = ""
authors = ["Marmotitude and AUTHORS <you@example.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
notebook = "^7.2.2"
ipykernel = "^6.29.5"
nbconvert = "^7.16.4"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
