name: Run Tests

on:
    workflow_call:
      inputs:
        tests: { required: false, type: string }
        config: { required: true, type: string }
        flags: { required: true, type: string }
      secrets:
        PROFILES: { required: true }
jobs:
    build:
        runs-on: ubuntu-24.04
        container:
          image: ghcr.io/marmotitude/s3-tester:tests
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
                  fetch-depth: 0

            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                version: "0.5.9"

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version-file: "pyproject.toml"

            - name: Install the project
              run: uv sync --no-dev

            - name: Configure Profiles
              run: |
                echo "${{ secrets.PROFILES }}" > profiles.yaml
                sha256sum profiles.yaml
                sha256sum ./bin/configure_profiles.py
                echo "Configuring Profiles..."
                uv run python ./bin/configure_profiles.py ./profiles.yaml

            - name: Run tests ${{ inputs.tests }}
              run: |
                cd docs
                uv run pytest --config ${{ inputs.config }} ${{ inputs.tests }} ${{ inputs.flags }}
